.card {
    margin: 30px auto;
    display: flex;
    align-items: center;  /* 세로 정렬 */
}
p {
    margin-left: 5px;
    font-weight : 300;
    font-family : 'Montserrat', sans-serif;
}

.card img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 8px; /* 선택사항: 둥글게 */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
    display: flex;
    padding: 10px;
    align-items: center;
    font-family : 'Montserrat', sans-serif;
    border-bottom : 1px solid lightgrey;
}

.nav .logo {
    font-size : 20px;
    font-weight : 800;
    margin-right : 20px;
}

.nav a {
    margin-right: 10px;
    text-decoration : none;
    font-weight : 300;
    letter-spacing : -0.5px;
}

input, button {
    padding : 8px 13px;
    margin-top : 5px;
    border : 1px solid grey;
    border-radius : 4px;
    vertical-align : middle;
}
button {
    background : black;
    color : white;
    border : none;
}
input {
    display : block;
}

.detail {
    text-align : center;
}
.detail img{
    max-width : 30%;
    display : block;
    margin : auto;
}