<div class="nav" th:fragment="navbar">
    <a class="logo" href="/list/page/1">SpringMall</a>
    <a href="/list/page/1">List</a>
    <a href="/write">Write</a>
    <div sec:authorize="isAnonymous()" >
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="/logout">Logout</a>
        <a href="/my-page">
             <span class="rainbow-text"> Hello, <span sec:authentication="principal.username"></span> !</span>
        </a>
    </div>
</div>